html, body{
    height:100%;
}

body{
    background-image:url("../images/Winter-Lake.jpg");
    background-repeat:repeat;
    font:normal 16px/1.6em 'Quicksand', sans-serif;
    display:flex;
    flex-direction:column;
}

h1{
    text-align:center;
}

h3{
    font:normal 500 30px 'Quicksand', sans-serif;
    padding:15px 15px 0 15px;
}

.container{
    margin:auto;
    overflow:auto;
    flex:1 0 auto;
}

#main-header{
    text-align:center;
}

#main-content{
    margin:0 310px;
}

#main-footer{
    color:white;
    font-size:small;
    text-align:center;
    width:100%;
    padding:15px 0;
    margin-top:20px;
    flex-shrink:0;
}